In [1]:
a=lambda i,j:i+j

In [2]:
def add(i,j):
    return i+j

In [3]:
a(5,3)

8

In [4]:
add(5,3)

8

In [5]:
#Even/Odd

In [6]:
def even(n):
    if n%2==0:
        return 'Even'
    else:
        return 'Odd'
even(10)

'Even'

In [7]:
a=lambda i:'Even' if i%2==0 else 'Odd'
a(10)

'Even'

In [8]:
a=lambda i:'A' if i>90 else 'B' if i>80 else 'C' if i >70 else 'Fail'

In [12]:
a(int(input('Enter Percentage')))

Enter Percentage75

'C'

In [16]:
a=lambda i:'Palindrome' if i==i[::-1] else 'Not Palindrome'
a(input('Enter String'))

Enter String123

'Not Palindrome'

### Que
d={'a':100,'b':200,'c':300}


who earn maximum with the help of lambda function

In [17]:
a=[]
help(a.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [ ]:
max()

In [21]:
d={'a':100,'b':200,'c':50}

In [24]:
max(d,key=lambda i:d[i])

'b'

In [25]:

min(d,key=lambda i:d[i])

'c'

In [27]:
d

{'a': 100, 'b': 200, 'c': 50}

In [ ]:
#Que1
#sort on the basis of value 
#values are same 
#to sort karna hai on the basis of key
#sorted()

In [2]:
#list comprehension
l=[
    ['Sachin',70,80,90],
    ['Deepratan',60,50,40],
    ['Ravi',10,20,30]
]
#Output-->[['Sachin',85],['Deepratan',56]]

In [3]:
[i for i in l]

[['Sachin', 70, 80, 90], ['Deepratan', 60, 50, 40], ['Ravi', 10, 20, 30]]

In [12]:
#a=lambda i:sum(i)/3
def per(i):
    return f'{sum(i)/3:.2f}'
[[i[0],per(i[1:])] for i in l]

[['Sachin', '33.33'], ['Ravi', '60.00']]

In [13]:
#a=lambda i:sum(i)/3
def per(i):
    return f'{sum(i)/3:.2f}'
[[i[0],per(i[1:])] for i in l]
l=[
    [input(f'Name[{i+1}]'),int(input('Math')),int(input('Physics')),int(input('Chemistry'))]
for i in range(int(input('Enter Total No of Students')))
]
[[i[0],per(i[1:])] for i in l]

Enter Total No of Students1
Name[1]sachin
Math20
Physics50
Chemistry70

[['sachin', '46.67']]

In [17]:
print('_'*14)
print('|','Sachin','|','52','|' )

______________
| Sachin | 52 |